---
import data from "../data/creation.json";
const { inscription, handLeftImage, handRightImage, ariaLabel } = data;
---

<section id="creation-of-adam" class="creation-section relative" aria-label={ariaLabel}>
  <div class="creation-sticky">
    <img
      src={handLeftImage}
      alt=""
      class="hand hand-left"
      onerror="this.style.display='none'"
    />
    <img
      src={handRightImage}
      alt=""
      class="hand hand-right"
      onerror="this.style.display='none'"
    />
    <div class="touch-light" aria-hidden="true"></div>
    <p class="creation-inscription" aria-hidden="true" data-edit="inscription">
      {inscription}
    </p>
  </div>
</section>
